/*================================
**Colors
================================*/

/*===============================
Background: #ffffff; White

Dash Background: #e5e5e5; gray

Primary: #0b9444; Green

Nav Gray: #e4e4e4; light Gray
================================*/

body{
    margin: 0;
    padding: 0;
}

.main-dash-container{
    background-color: #e5e5e5;
}

.clearfix{
    clear: both;
}

/*================================
** Dash Nav
================================*/
.dash-nav-container{
    background-color: #ffffff;
    width: 7%;
    float: left;
    position: fixed;
}

nav li{
    list-style: none;
    /*padding: 5px 15px 0 15px;*/
    border-bottom: 1px solid #e5e5e5;

}
li.logo img{
    width: 100%;
}
nav li img{
    width: 50%;
    margin-top: 8px; 
}

nav li a{
    display: block;
    height: 107.1px;
    text-align: center;
    color: #e4e4e4;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
}

nav li a:hover{
    color: #0b9444;
    text-decoration: none;
    border-right: 2px solid #0b9444;
    transition: .4s;
}

nav li a span {
    display: block;
    padding: 5px 0;
    text-decoration: none;
    
}

nav li a img:hover #dashboard{
    fill: red;
}


/*================================
** Dash Contents
================================*/
.dash-contents-container{
    width: 93%;
    float: right;
}

.dash-header{
    width: 100%;
    height: 75px;
    background-color: #ffffff;
}

.user-profile{
    padding: 25px 100px;
    border-left: 1px solid #e5e5e5
}

.profile-container{
    float: right;
    width: 350px;
}

.profile-container ul{
    padding: 17px 0 
}

.profile-container ul li {
    display: inline;
    padding: 34px 60px;
    border-left: 1px solid #e5e5e5;
}

.profile-container img {
    width: 10%;
}

.switch{

}

.switch img{
    width: 70%;
}

.analytics{
    height: 50vh;
    background-color: blue;
}

.social-block-container{
    margin: 70px 0;
}

.social-block{
    width: 100%;
    height: 300px;;
    background-color: #ffffff;
}

.dash-footer{
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 10px
}
/*Tablet Styles*/
@media screen and (min-width : 504px) and (max-width : 1024px){
    .dash-nav-container{
        width: 20%;
        position: absolute;
        z-index: 1;
    }
    
    li.logo img{
        width: 65%;
        margin:15px 0;
    }
    
    nav li img{
        width: 30%;
        margin-top: 13px; 
    }
    
    .dash-contents-container {
        width: 100%;
    }
    
    .dash-header{
        width: 100%;
        height: 107px;
        background-color: #ffffff;
    }
    
    .profile-container {
        float: right;
        width: 325px;
    }
    
    .profile-container ul {
        padding: 28px 0;
    }
    
    .profile-container ul li {
        display: inline;
        padding: 56px 60px;
        border-left: 1px solid #e5e5e5;
    }
    
    .social-block-container {
        margin: 60px 0;
    }
    
    .social-block {
        width: 100%;
        height: 300px;
        background-color: #ffffff;
        margin: 15px auto;
    }
}

/*Smart Phone Styles*/
@media screen and (min-width : 320px) and (max-width : 502px){
    .dash-nav-container{
        width: 50%;
        position: absolute;
        z-index: 1;
        overflow: hidden;
        height: 100vh;
        display: none;
    }
    
    .dash-nav-container nav{
        overflow-y: scroll;
    }
    
    li.logo img{
        width: 80%;
        margin:0;
    }
    
    nav li img{
        width: 30%;
        margin-top: 13px; 
    }
    
    .dash-contents-container {
        width: 100%;
    }
    
    .dash-header{
        width: 100%;
        height: 107px;
        background-color: #ffffff;
    }
    
    .profile-container {
        width: 255px;
    }
    
    .profile-container ul {
        padding: 35px 0;
    }
    
    .profile-container ul li:first-child {
        border: none;
    }
    .profile-container ul li {
        display: inline;
        padding: 52px 35px;
        border-left: 1px solid #e5e5e5;
    }
    
    .social-block-container {
        margin: 40px 0;
    }
    
    .social-block {
        width: 100%;
        height: 300px;
        background-color: #ffffff;
        margin: 15px auto;
    }
}